<p id="notice"><%= notice %></p>

<h1>Rentals</h1>


<% if @rentals.blank? %>
<h4>There are no rentals availible in this town: <b><%= params[:search] %></b>.</h4>

<%else%>
<table>
  <tbody>
    <% @rentals.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.compact.each do |idea| %>
          <div class="col-md-4">
            <%=image_tag idea.picture_url, width: '100%' if idea.picture.present? %>
            <h4><%= link_to idea.name, idea %></h4>
          </div>
        <% end %>
        <%end%>
      </tr>
    <% end %>

  </tbody>
</table>


<% if admin_signed_in? || buyer_signed_in? || owner_signed_in? %>

<%else%>
<%= link_to "Sign up", new_buyer_registration_path, :class => 'navbar-link'  %> |
<%= link_to "Login", new_buyer_session_path, :class => 'navbar-link'  %>
<%end%>


<br>
<% if owner_signed_in? %>
<%= link_to 'New Rental', new_rental_path %>
<%end%>
