<p id="notice"><%= notice %></p>

<h1>Rentals</h1>


<% if @rentals.blank? %>
<h4>There are no rentals availible in this town: <%= params[:search] %>.</h4>

<%else%>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Picture</th>
      <th>Description</th>
      <th>City</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.name %></td>
        <td><%= image_tag rental.picture_url, width: '100%' if rental.picture.present? %></td>
        <td><%= rental.description %></td>
        <td><%= rental.city %></td>
        <td><%= link_to 'Show', rental %></td>
          <% if admin_signed_in? || owner_signed_in? %>
        <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
        <td><%= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>

  </tbody>
</table>
<%end%>

<% if admin_signed_in? || buyer_signed_in? || owner_signed_in? %>

<%else%>
<%= link_to "Sign up", new_buyer_registration_path, :class => 'navbar-link'  %> |
<%= link_to "Login", new_buyer_session_path, :class => 'navbar-link'  %>
<%end%>


<br>
<% if owner_signed_in? %>
<%= link_to 'New Rental', new_rental_path %>
<%end%>
