<p id="notice"><%= notice %></p>

<h1><center>

  <%= @rental.name %>
</center></h1>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@rental.picture_url, width: 400) if @rental.picture.present? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rental.description %>
</p>

<p>
<strong>City:</strong>
<%= @rental.city %>
</p>
<p>by: <%= @rental.owner.try(:email) %></p>


<% if admin_signed_in? || owner_signed_in? %>
<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%end%>
<%= link_to 'Back', rentals_path %>
